/*common*/
main{
    overflow: hidden;
    margin-top: 70px;
}

body{
    overflow: hidden;
}

.container-fluid{
    margin:0px;
    padding:0px;
    width: auto;
}

ul{
    list-style-type: none;
}

/*header*/
.container-nav{
    height: 70px; /*da levare dopo che la struttura è completa*/
}

.logo-mobile{
    width: 50px;
}

.logo-header{
    padding-left: 15px;
}

.fa-bell{
    color: orange;
}



/*aside*/
aside {
    width: 50px;
    background-color:#2c3e50;
    min-height: calc(100vh - 70px);
    color: white;

}


aside .profile {
    margin-top: auto;
}

/*main-top*/

#main-top{
    background-color: blue;
    height: 265px;
    min-width: calc(100vw - 50px);
    color: white;
}


/*body-main*/

#body-main{
    width: 100%;
}

.real-main-container{
    overflow: auto;
    height: 100vh;
}

/*.card{
    min-height: auto; 
}*/

.card-title>h4{
    border-bottom: 1px solid grey;
    padding: 15px;
    background-color: lightgrey;
}

.container-cards>.row{
    --bs-gutter-x: 0px;
}

td>i{
    border: 1px solid grey;
}

.container-faq{
    border-bottom: 1px solid grey;
}

.d-down{
    border: none;
    background-color: white;
}

.todo-item, .user-container{
    border: 1px solid grey;
}

.user-container>img{
    max-width: 500px;   
}

.info-x-months>p{
    border-bottom: 1px solid grey;
}

/*#todo{
    min-height: auto;
}*/

/*.tr:last-child{
    margin-left: -60px;
}*/


/*media*/
@media only screen and (min-width: 720px) {
    #main-top {
        height: 120px;
        min-width: calc(100vw - 150px);
    }

    .main-top-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (min-width: 900px) {
    aside {
      width: 150px;
    }
}


