/*common*/
main{
    overflow: hidden;
    margin-top: 70px;
}

body{
    overflow: hidden;
}

.container-fluid{
    margin:0px;
    padding:0px;
    width: auto;
}

ul{
    list-style-type: none;
}

/*header*/
.container-nav{
    height: 70px; /*da levare dopo che la struttura è completa*/
}

.logo-mobile{
    width: 50px;
}

.logo-header{
    padding-left: 15px;
}

.fa-bell{
    color: orange;
}



/*aside*/
aside {
    width: 50px;
    background-color:chocolate;
    min-height: calc(100vh - 70px);

}


aside .profile {
    margin-top: auto;
}

/*main-top*/

#main-top{
    background-color: blue;
    min-height: 120px;
    min-width: calc(100vw - 150px);
}

/*body-main*/

#body-main{
    width: 100%;
}

.real-main-container{
    overflow: auto;
    height: 100vh;
}

@media only screen and (min-width: 1200px) {
    aside {
      width: 150px;
    }
 
}